stages:
  - build
  - update-config

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  CI_REGISTRY: "gitlab.iceymoss:5050"
  CI_REGISTRY_IMAGE: "gitlab.iceymoss:5050/root/hichat"
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  IMAGE_TAG_LATEST: $CI_REGISTRY_IMAGE:latest
  IMAGE_TAG_COMMIT: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA

build:
  stage: build
  image: docker:24
  services:
    - name: docker:24-dind
      command: ["--insecure-registry=gitlab.iceymoss:5050"]
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - docker build -t $IMAGE_TAG -t $IMAGE_TAG_LATEST -t $IMAGE_TAG_COMMIT .
    - docker push $IMAGE_TAG
    - docker push $IMAGE_TAG_LATEST
    - docker push $IMAGE_TAG_COMMIT
  only:
    - main
    - master
    - develop
    - merge_requests
  tags:
    - docker

update-config:
  stage: update-config
  image: alpine/git:latest
  script:
    - echo "开始更新配置..."
    - echo "配置更新完成"
  only:
    - master
  when: on_success
  tags:
    - docker